@page "/"
@attribute [RenderModeServer]

<PageTitle>With Model</PageTitle>
<h3>With Model</h3>

<EditForm Model="@_model">

    <FlipFlop @bind-Value="_model.Value" />

    <hr/>

    <p>Value: @_model.Value</p>
    <p>Changed: @context.IsModified()</p>

    <hr/>

    <button @onclick="SetTrue">@(_model?.Value ?? false ? "TRUE" : "true")</button>
    <button @onclick="SetFalse">@(_model?.Value ?? false ? "false" : "FALSE")</button>
</EditForm>

<button @onclick="StateHasChanged">Update</button>